.user-symptom {
    margin: 5px;
    background-color: #153f70;
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.disease-symptoms {
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;


}

.name-possibility-box {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
}
.name-possibility-box div a {
    font-size: 20px;
}
.name-possibility-box div a:hover {
    transform: scale(1.2);
}
.disease-box {
    margin: 1.5rem auto;
    background-color: rgba(0, 0, 0, 0.12);

}

.cannot-determine-box {
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 1rem;
    font-size: 20px;
}


.symptom-name-box {
    margin: 1rem;
    padding: 1rem;
}

.name-possibility-box h3 {
    font-size: 25px !important;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.symptoms-patient-has {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #153f70;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.symptoms-disease-has {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.possibility-bar {
    width: 7rem;
    height: 2rem;
    display: block;
    background-color: #4d4d4d;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;

}


.possibility {
    height: 2rem;
    background-color: #70123b;
    color: white;

    display: flex;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index: -2;


}
.disease-app{
    margin-bottom: 2rem;
}
.possibility-bar p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.disease-name {


    padding: 15px;
    border-radius: 20px;

}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-info {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
    .symptoms-patient-has {
        margin: 10px;

        font-size: 14px !important;
        padding: 3px !important;
        width: 10rem;
    }

    .symptoms-disease-has {
        font-size: 14px !important;
        padding: 3px !important;
        margin: 10px;
        width: 10rem;
    }

}

@media screen and (max-width: 768px) {
    .top-bar {
        flex-direction: column;
    }

    .name-possibility-box {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .symptoms-patient-has {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px !important;
        padding: 3px !important;
        width: 10rem;
    }

    .symptoms-disease-has {
        font-size: 14px !important;
        padding: 3px !important;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 10rem;
    }
    .container-answer{
        font-size: 15px;
    }

}

@media screen and (max-width: 425px) {
    .disease-symptoms{
        margin: 2px;
        padding: 5px;

    }



    .symptoms-patient-has {

        font-size: 12px !important;
        padding: 2px !important;
    }

    .symptoms-disease-has {
        font-size: 12px !important;
        padding: 2px !important;
    }

    .box-2{
        font-size: 16px !important;
    }
}